/* line 17, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../sass/sass/_header.scss */
#topbar-wrap {
  width: 100%;
  background: white;
}

/* line 9, ../../sass/sass/_header.scss */
#topbar {
  width: 960px;
  margin: 0 auto;
  padding-top: 0.75em;
  padding-bottom: 0.5em;
  position: relative;
  /* for absolute positioning internally */
  font-family: Courier, Arial;
  /* OmnesATT */
  font-size: 1.0em;
  color: #666666;
}
/* line 23, ../../sass/sass/_header.scss */
#topbar a.selectedTab {
  text-decoration: none;
  color: #067ab4;
}
/* line 27, ../../sass/sass/_header.scss */
#topbar a.selectedTab:hover {
  color: #44c8f5;
  text-decoration: none;
}
/* line 34, ../../sass/sass/_header.scss */
#topbar a.unselectedTab {
  text-decoration: none;
  color: #666666;
}
/* line 38, ../../sass/sass/_header.scss */
#topbar a.unselectedTab:hover {
  color: #44c8f5;
  text-decoration: none;
}
/* line 45, ../../sass/sass/_header.scss */
#topbar ul {
  list-style: none;
}
/* line 49, ../../sass/sass/_header.scss */
#topbar ul li {
  display: inline;
  margin: 0 0.5em 0 0;
}

/* line 57, ../../sass/sass/_header.scss */
#searchBarWrap {
  border: 2px #aaa solid;
  border-radius: 15px;
  background-color: #5e5e5e;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
/* line 66, ../../sass/sass/_header.scss */
#searchBarWrap input {
  border: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #fff;
  background-color: #5e5e5e;
}
/* line 76, ../../sass/sass/_header.scss */
#searchBarWrap input:focus {
  outline: none;
}

/* line 83, ../../sass/sass/_header.scss */
.dialog-info {
  display: none;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #444;
  background-color: #6fbaf7;
  text-align: center;
}

/* line 9, ../../sass/sass/screen.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  background-color: white;
  color: #222222;
}

/* ************************************************************************* */
/* ************************************************************************* */
/* line 25, ../../sass/sass/screen.scss */
#bottom-wrap {
  width: 100%;
  background: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* line 33, ../../sass/sass/screen.scss */
#bottom {
  width: 960px;
  margin: 0 auto;
  position: relative;
  font-family: 'Open Sans';
  font-size: 0.8em;
  line-height: 1.5em;
  color: #333333;
}

/* line 46, ../../sass/sass/screen.scss */
.footer-block {
  display: inline-block;
  vertical-align: top;
}

/* line 52, ../../sass/sass/screen.scss */
.footer-text-block {
  margin-left: 4em;
}

/* line 57, ../../sass/sass/screen.scss */
.footer-text {
  margin: 0;
  padding: 0;
}
/* line 62, ../../sass/sass/screen.scss */
.footer-text a {
  text-decoration: none;
  color: #333333;
}
/* line 67, ../../sass/sass/screen.scss */
.footer-text a:hover {
  text-decoration: underline;
}

/* ************************************************************************* */
/* ************************************************************************* */
/* line 77, ../../sass/sass/screen.scss */
#body-wrap {
  width: 100%;
  background-color: white;
}

/* line 83, ../../sass/sass/screen.scss */
#body {
  width: 960px;
  min-height: 500px;
  margin: 0 auto;
  padding-top: 1em;
}

/* line 91, ../../sass/sass/screen.scss */
.dev-note {
  font-size: 60%;
  border: 1px dashed gray;
  background: #eee;
  color: #000;
  padding-left: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

/* line 3, ../../sass/sass/_forms.scss */
#injectForm {
  margin-top: 2em;
  width: 100%;
  position: relative;
}

/* line 10, ../../sass/sass/_forms.scss */
.injectLabel {
  display: inline-block;
  width: 6em;
  text-align: right;
  padding-right: 1em;
  vertical-align: top;
}

/* line 21, ../../sass/sass/_forms.scss */
#alarmData {
  wrap: off;
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 0.25em;
}

/* line 32, ../../sass/sass/_forms.scss */
.injectError {
  color: #ff0000;
}

/* line 104, ../../sass/sass/screen.scss */
.title {
  font-size: 1.5em;
}

/* line 109, ../../sass/sass/screen.scss */
.sectionHeader {
  padding-top: 1em;
  font-size: 1.25em;
}

/* line 116, ../../sass/sass/screen.scss */
.section {
  padding-top: 1em;
}
/* line 120, ../../sass/sass/screen.scss */
.section a {
  color: #444488;
  text-decoration: none;
}
/* line 125, ../../sass/sass/screen.scss */
.section a:hover {
  color: #666;
  text-decoration: none;
}

/* line 133, ../../sass/sass/screen.scss */
.sectionFooter {
  font-family: Arial;
  font-size: 0.7em;
}

/* line 139, ../../sass/sass/screen.scss */
.section-control {
  margin: 0;
}
/* line 143, ../../sass/sass/screen.scss */
.section-control:hover {
  text-decoration: underline;
}

/* line 149, ../../sass/sass/screen.scss */
.section-controlpad {
  font-family: Courier;
  font-size: 0.8em;
}
/* line 154, ../../sass/sass/screen.scss */
.section-controlpad a {
  color: #444488;
  text-decoration: none;
}
/* line 158, ../../sass/sass/screen.scss */
.section-controlpad a:hover {
  color: #666;
  text-decoration: none;
}

/* line 166, ../../sass/sass/screen.scss */
.control-pad {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
/* line 171, ../../sass/sass/screen.scss */
.control-pad ul {
  list-style: none;
}
/* line 175, ../../sass/sass/screen.scss */
.control-pad ul li {
  display: inline;
  margin: 0 0.25em 0 0;
}
/* line 182, ../../sass/sass/screen.scss */
.control-pad a {
  color: #333;
  text-decoration: none;
}
/* line 187, ../../sass/sass/screen.scss */
.control-pad a:hover {
  color: #666;
  text-decoration: none;
}

/* line 195, ../../sass/sass/screen.scss */
.hideable {
  display: none;
}

/* line 208, ../../sass/sass/screen.scss */
#hpSelectorPad {
  display: inline-block;
  width: 123px;
  padding-right: 2px;
  vertical-align: top;
  overflow: auto;
}

/* line 219, ../../sass/sass/screen.scss */
.hpPage {
  display: inline-block;
  width: 805px;
  vertical-align: top;
}

/* line 226, ../../sass/sass/screen.scss */
.settings-list {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: Courier, Arial;
  font-size: 0.8em;
}

/* line 235, ../../sass/sass/screen.scss */
.settings-group {
  border-bottom: 1px dashed gray;
  font-family: Courier, Arial;
  /* OmnesATT */
  font-size: 0.7em;
}

/* line 243, ../../sass/sass/screen.scss */
.settings-key {
  display: inline-block;
  width: 225px;
  overflow: auto;
  vertical-align: top;
  font-weight: bold;
}

/* line 253, ../../sass/sass/screen.scss */
.settings-block {
  display: inline-block;
  width: 565px;
  overflow: auto;
  vertical-align: top;
}

/* line 261, ../../sass/sass/screen.scss */
.settings-key-group {
  display: inline-block;
  vertical-align: top;
  width: 495px;
}

/* line 268, ../../sass/sass/screen.scss */
.settings-key-group-control {
  display: inline-block;
  vertical-align: top;
  width: 30px;
}

/* line 287, ../../sass/sass/screen.scss */
.section-intro {
  font-family: Arial;
  /* OmnesATT */
  font-size: 0.8em;
  line-height: 1.25em;
  padding-bottom: 0.5em;
}

/* line 295, ../../sass/sass/screen.scss */
.phaseLinkMenu {
  margin-top: 1.0em;
  font-family: Arial;
  font-size: 0.8em;
}

/* line 303, ../../sass/sass/screen.scss */
.processing-list {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: Courier, Arial;
}

/* line 311, ../../sass/sass/screen.scss */
.processing-entry {
  display: inline-block;
  overflow: auto;
  vertical-align: top;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  font-family: Courier, Arial;
  font-size: 0.75em;
}

/* line 333, ../../sass/sass/screen.scss */
.processing-processor {
  margin-left: 3.0em;
}

/* line 338, ../../sass/sass/screen.scss */
.processing-processor-even {
  background-color: #fff;
}

/* line 343, ../../sass/sass/screen.scss */
.processing-processor-odd {
  background-color: #eee;
}

/* line 348, ../../sass/sass/screen.scss */
.processing-entry-controlPadContainer {
  height: 2em;
}

/* line 353, ../../sass/sass/screen.scss */
.table {
  margin-top: 1.5em;
  font-size: 0.8em;
}

/* line 363, ../../sass/sass/screen.scss */
.tableLabel {
  color: #888;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
/* line 369, ../../sass/sass/screen.scss */
.tableLabel a {
  text-decoration: none;
  color: #444488;
}
/* line 374, ../../sass/sass/screen.scss */
.tableLabel a:hover {
  text-decoration: underline;
}

/* line 381, ../../sass/sass/screen.scss */
.tableValue {
  color: #000;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

/* line 388, ../../sass/sass/screen.scss */
.corr-list {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: Arial;
  /* OmnesATT */
}

/* line 396, ../../sass/sass/screen.scss */
.cg-label {
  color: #444444;
}

/* line 401, ../../sass/sass/screen.scss */
.cg-inlineLabel {
  display: inline-block;
}

/* line 406, ../../sass/sass/screen.scss */
.cg-section {
  padding-top: 2.0em;
  font-family: Arial;
  /* OmnesATT */
  font-size: 1.75em;
  font-weight: bold;
}
/* line 414, ../../sass/sass/screen.scss */
.cg-section a {
  text-decoration: none;
  color: #222222;
}
/* line 419, ../../sass/sass/screen.scss */
.cg-section a:hover {
  text-decoration: underline;
  color: #222222;
}

/* line 427, ../../sass/sass/screen.scss */
.cg-detail {
  font-size: 0.9em;
}
/* line 431, ../../sass/sass/screen.scss */
.cg-detail a {
  text-decoration: none;
  color: #444488;
}
/* line 436, ../../sass/sass/screen.scss */
.cg-detail a:hover {
  text-decoration: underline;
}

/* line 447, ../../sass/sass/screen.scss */
.cg-occursOnDetail {
  display: inline-block;
}

/* line 456, ../../sass/sass/screen.scss */
.cg-triggerdetail {
  display: inline-block;
}

/* line 465, ../../sass/sass/screen.scss */
.cg-alarmRecordLabel {
  display: inline-block;
  padding-left: 1.5em;
}

/* line 471, ../../sass/sass/screen.scss */
.cg-alarmRecordSpec {
  display: inline-block;
}

/* line 476, ../../sass/sass/screen.scss */
.cg-alarmRecordTraversal {
  display: inline-block;
}

/* line 481, ../../sass/sass/screen.scss */
.cg-alarmRecordCritical {
  color: #ff0000;
}

/* line 486, ../../sass/sass/screen.scss */
.cg-alarmRecordWarning {
  color: #fed85d;
}

/* line 491, ../../sass/sass/screen.scss */
.cg-parentRecordName {
  display: inline-block;
  padding-left: 1.5em;
}

/* line 497, ../../sass/sass/screen.scss */
.cg-parentRecordTraversal {
  display: inline-block;
}

/* line 510, ../../sass/sass/screen.scss */
.consAlarmValue {
  padding-left: 2em;
}

/* line 515, ../../sass/sass/screen.scss */
.consConflictedValue {
  color: #f00;
}

/* line 520, ../../sass/sass/screen.scss */
.consValueKey {
  display: inline-block;
  min-width: 5em;
}

/* line 526, ../../sass/sass/screen.scss */
.consValueValue {
  display: inline-block;
  min-width: 10em;
}

/* line 536, ../../sass/sass/screen.scss */
.consEvenRow {
  background-color: #cec;
}

/* line 541, ../../sass/sass/screen.scss */
.consHeaderCell {
  padding-left: 0.25em;
  padding-right: 1em;
  font-weight: bold;
}

/* line 548, ../../sass/sass/screen.scss */
.consValueCell {
  padding-left: 0.25em;
  padding-right: 1em;
  font-size: 0.9em;
}

/* line 555, ../../sass/sass/screen.scss */
.smaller {
  font-size: 0.8em;
}

/* line 561, ../../sass/sass/screen.scss */
#editor {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background-image: url(../images/dimmer.png);
}

/* line 574, ../../sass/sass/screen.scss */
#editor .editor-pane {
  width: 300px;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid #000;
  padding: 15px;
  text-align: center;
}
