
// from the official AT&T palette 2014
$colorAttOrange: #EF6F00;
$colorAttBlue: #067AB4;
$colorAttGreenHighlight: #C4D82D;
$colorAttGreen: #4CA90C;
$colorAttBlueHighlight: #44C8F5;
$colorAttBurgundy: #B30A3C;
$colorAttMagenta: #DA0081;
$colorAttOrangeHighlight: #FCB314;
$colorAttDarkBlue: #0C2577;
$colorAttPurple: #81017E;
$colorAttGray: #666666;

$colorWhite: #fff;
$colorBlack: #000;

//$totalWidth: 1080px;
$totalWidth: 960px;
$totalHeight: 30em;

$linkColor: #448;

$linkHiliteColor: #6FBAF7;

$topBarColor: $colorWhite;
$topBarTextColor: $colorAttGray;
$topBarActiveTextColor: $colorAttBlue;
$topBarLinkHiliteColor: $colorAttBlueHighlight;

$bodyColor: #fff;

$footerColor: #fff;
$footerTextColor: #333;

$bodyTextColor: #222;
$labelGray: #444;


